<h4>{{title}}</h4>
<fieldset>
  <legend> ReverseStr Example</legend>
<h1>{{title | reverseStr}}</h1>
</fieldset>
<fieldset>
  <legend> HTTP Example</legend>
<app-httpexample></app-httpexample>

</fieldset>
<fieldset>
  <legend> Date Pipe Example</legend>
  <app-date-pipes></app-date-pipes>
</fieldset>
<fieldset>
  <legend> Number Pipe Example</legend>
  <app-number-pipe></app-number-pipe>
</fieldset>
<fieldset>
  <legend> Slice Pipe Example</legend>
<app-slice-pipe></app-slice-pipe>
</fieldset>
<fieldset>
  <legend> JSON Pipe Example</legend>
<app-jsonpipe></app-jsonpipe>
</fieldset>